$btn-grey-1: #f1f1f1;
$grey-2: #c7c7c7;
$grey-3: #ddd;
$grey-4:#f2fff1;
$grey-5:#f4f4f4;
$grey-6:#d6d6d6;
$white: #fff;
$black: #000;
$theme-orange: #ffcb05;
$text-shadow-black: #4a4a4a;
$blue-1: #5c7ca5;
