/* You can add global styles to this file, and also import other style files */
@import "_colors.scss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-paginator-container {
  display: flex;
  align-items: center;
  justify-content: center !important;
  padding: 0 8px;
  flex-wrap: wrap-reverse;
  width: auto !important;
  background: rgb(255 255 255 / 95%);
  border-radius: 55px;
  border: 1px solid $theme-orange;
  font-weight: bold;
  font-family: sans-serif;

}
.mat-paginator-outer-container {
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
  width: 422px;
  margin: auto;
}
